<%- include('partials/header.ejs') %>
    
    <%if(pokemon.length > 0){%>
        <%pokemon.forEach(pokemons => {%>
            <div class="pokemon-cont">

                <div class="pokemon-content">
                    <h1><%=pokemons.name%></h1>
                    <h3>Type:</h3>
                    <p><%=pokemons.type%></p>
                    <h2>Abilities:</h2>
                    <p>1 - <%=pokemons.ability0%></p>
                    <p>2 - <%=pokemons.ability1%></p>
                    <p>3 - <%=pokemons.ability2%></p>
                    <p class="author-para"><%=pokemons.author%></p>
                </div>
                
                <div>
                <form action="delete"><button class="button deleteB">Delete</button></form>
                <form action="post"><button class="button updateB">Update</button></form>
                </div>
                
            </div>

        <%})%>
      <%}%>
<%- include('partials/footer.ejs') %>
