<%- include('partials/header.ejs') %>
    
    <%if(pokemon.length > 0){%>
        <%pokomon.forEach(pokomons => {%>
            <div class="pokomon-cont">
                <div class="pokomon-image">
                    <img src="data:<%= pokomons.image.contentType %>;base64,<%= pokomons.image.data.toString('base64') %>" alt="A picture of a chinpokomon">
                </div>
                <div class="pokomon-content">
                    <h1><%=pokomons.name%></h1>
                    <h2>Abilities:</h2>
                    <p>1 - <%=pokomons.ability1%></p>
                    <p>2 - <%=pokomons.ability2%></p>
                    <p>3 - <%=pokomons.ability3%></p>
                    <p class="author-para"><%=pokomons.author%></p>
                </div>

            </div>

        <%})%>
      <%}else{%>
        <p>THERES NOTHING TO DISPLAY</p>
      <%}%>

 
    <script src="db.js"></script>
    <script src="/app.js"></script>
</body>
</html>