<%- include('partials/header.ejs') %>
    
    <%- include('partials/pockemonIndex.ejs') %>
    <%- include('partials/pockemonIndex.ejs') %>
    <%- include('partials/pockemonIndex.ejs') %>
    <%- include('partials/pockemonIndex.ejs') %>

 
    <script src="db.js"></script>
    <script src="/app.js"></script>
</body>
</html>